#info{
    padding:1rem;
    width:5rem;
    text-align:center;
}

.dark-mode{
    background-color: rgb(9, 9, 9) ;
    color:aquamarine
}
.default-mode{
    background-color: aquamarine ;
    color:rgb(9, 9, 9)
}

